body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 45px;

    position: relative;

    background: #333333;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1400px;
}

.title {
    display: flex;
    align-items: center;
    font-size: calc(28px + 12 * (100vw / 1280));
    color: #FFFFFF;
    font-family: Comfortaa;
}
.title > .marker {
    width: 38px;
    height: 25px;
    border-radius: 8px;
    background-color: #FFFFFF;

    -moz-box-shadow:0 0 3px #FFFFFF;
    -webkit-box-shadow:0 0 3px #FFFFFF;
    box-shadow:0 0 3px #FFFFFF;

    margin-right: 14px;
}

@media screen and (max-width: 768px) {
    body {
        padding: 4vh 20px;
    }
}
@media screen and (max-width: 265px) {
    body {
        padding: 3vh 10px;
    }
}