#works > .container {
    padding: 45px 0 30px 0;
}
#works > .container > .work {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #777777;
    padding: 0 0 25px 0;
    margin: 25px 0 0 0;
}
#works .work:last-child {
    border-bottom: none;
}
#works > .container > .work > .img {
    width: 25vw;
    max-width: 768px;
    height: calc(25vw/16*9);
    max-height: calc(768px/16*9);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCMhqtBgtQrJ0mhY4gTTQ1jVCa9iqQUHC26g&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 25px 0 0;
    border-radius: 12px;
    overflow: hidden;
}

#works > .container > .work > .info {
    width: 55%;
    max-height: 100%;
    position: relative;
    font-family: Manrope;
}
#works > .container > .work .name {
    position: relative;
    font-size: calc(22px + 10 * (100vw / 1280));
    color: #FFFFFF;
    font-weight: 500;
    margin: 0 0 15px 0;
}
#works > .container > .work .tags {
    display: inline-block;
    margin: 0 0 25px 0;
}
#works > .container > .work span {
    color: #FDAB3D;
    font-size: calc(12px + 6 * (100vw / 1280));
    font-weight: 500;
}
#works > .container > .work .year {
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: calc(12px + 6 * (100vw / 1280));
    font-weight: 600;
    padding: 3px 5px;
    margin: 0 10px 0 0;
    display: inline-block;
}
#works > .container > .work .tag {
    margin-right: 10px;
}
#works > .container > .work .description {
    color: #EEEEEE;
    font-size: calc(12px + 6 * (100vw / 1280));
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    #works > .container > .work {
        flex-direction: column;
    }
    #works > .container > .work > .img {
        width: 50vw;
        height: calc(50vw/16*9);
        margin: 0 0 10px 0;
    }
    #works > .container > .work .name {
        display: inline-block;
        margin: 0 12px 5px 0;
        padding: 0 10px 5px 0;
        border-right: 1px solid #777777;
    }
    #works > .container > .work .year {
        transform: translateY(-2px);
    }
    #works > .container > .work .tags {
        margin: 0 0 12px 0;
        transform: translateY(-2px);
    }
}
@media screen and (max-width: 525px) {
    #works > .container > .work {
        align-items: center;
    }
    #works > .container > .work > .img {
        width: 80vw;
        height: calc(80vw/16*9);
    }
    #works > .container > .work > .info {
        width: 92%;
    }
}